*{
    box-sizing: border-box;
}

.container{
    margin-left: 4%;
    margin-top: 15%;
    padding: 5%;
    background-color: aqua;
}

#select{
    width: 50%;
    margin-left: 1%;
}

.adddiv {
    margin-left: 50%;
    margin-top: 1%;
    padding: 1%;
    background-color: beige;
}